.jumbotron {
    padding-top: 6rem;
    background-color: #fa7d09;
}

#about,
#contact {
    background-color: #4a3f35;
}

#projects {
    background-color: #fa7d09;
}

section {
    padding-top: 5rem;
}